$primary: #039be5;
$text-color: #222;

.pagination-wrap {
  margin-bottom: 10px;
  padding: 10px 0;
  background: #fff;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
}

.pagination {
  margin: 5px 0;
}

li.disabled > a {
  pointer-events: none;
  cursor: not-allowed;
}

.svg-icon {
  font-size: 2em;
}

a.arrow {
  padding: .3rem .5rem;
}
