<div class="pagination-wrap" *ngIf="pager.pages && pager.pages.length > 1">
    <ul class="pagination">
        <li>
            <ul class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}" *ngIf="pager.pages.length > 2">
                    <a #prev (click)="onPageChange(pager.currentPage - 1); prev.blur()" [routerLink]="[url, 'page', pager.currentPage - 1] | localize" class="arrow"><span class="svg-icon svg-icon-arrow-left"></span></a>
                    <!-- <a (click)="onPageChange(pager.currentPage - 1)" [routerLink]="[url, 'page', pager.currentPage - 1] | localize" translate>PAGINATION.prev</a> -->
                </li>
                <li  [ngClass]="{disabled:pager.currentPage === pager.totalPages}" *ngIf="pager.pages.length > 2">
                    <a #next (click)="onPageChange(pager.currentPage + 1); next.blur()" [routerLink]="[url, 'page', pager.currentPage + 1] | localize" class="arrow"><span class="svg-icon svg-icon-arrow-right"></span></a>
                    <!-- <a (click)="onPageChange(pager.currentPage - 1)" [routerLink]="[url, 'page', pager.currentPage - 1] | localize" translate>PAGINATION.next</a> -->
                </li>
            </ul>
        </li><br>

        <li>
            <ul class="pagination">
                <li  [ngClass]="{disabled:pager.currentPage === 1}" *ngIf="pager.pages.length > 2">
                    <a (click)="onPageChange(1)" [routerLink]="[url, 'page', 1] | localize" translate>PAGINATION.first</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="onPageChange(page)" [routerLink]="[url, 'page', page] | localize">{{ page }}</a>
                </li>
                <li  [ngClass]="{disabled:pager.currentPage === pager.totalPages}" *ngIf="pager.totalPages > 2">
                    <a (click)="onPageChange(pager.totalPages)" [routerLink]="[url, 'page', pager.totalPages] | localize" translate>PAGINATION.last</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
