<div *ngIf="blogs" [@account]="blogs.state" class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="entry">

            <h3 *ngIf="noUser" translate class="text-center">ACCOUNT.nouser</h3>
            <div *ngIf="!noUser">

                <!-- Profile -->
                <div *ngIf="user && user.login.toLowerCase() === name.toLowerCase()" class="profile text-center" >
                    <img [src]="user.avatar_url" class="profile-avatar" [alt]="name + ' avatar'">
                    <div>{{ user.name || user.login }}</div>
                </div>
                <div
                    *ngIf="user && user.login.toLowerCase() !== name.toLowerCase() || !user"
                    class="profile text-center">
                    {{ name }}
                </div>

                <!-- GitHub info -->
                <div class="info text-center">
                    <a [href]="githubUrl + name" target="_blank" class="btn btn-default controls">GitHub {{ 'ACCOUNT.account' | translate }}</a><br>
                    <a
                        [href]="githubUrl + name + '?tab=repositories'"
                        target="_blank"
                        class="btn btn-default controls">
                        GitHub {{ 'ACCOUNT.repositories' | translate }}
                    </a>
                    <br>
                </div>
                <hr>

                <!-- Update toggle button -->
                <button
                    *ngIf="user && user.login.toLowerCase() === name.toLowerCase() && blogs.length"
                    (click)="toggleUpdateBtns()"
                    translate
                    type="button"
                    class="btn btn-default update">
                    {{ hiddenUpdates ? 'ACCOUNT.hide' : 'ACCOUNT.update' }}
                </button>

                <!-- Update controls button -->
                <button
                    *ngIf="user && user.login.toLowerCase() === name.toLowerCase() && blogs.length"
                    (click)="toggleControlBtns()"
                    translate
                    type="button"
                    class="btn btn-default update">
                    {{ hiddenControls ? 'ACCOUNT.hide' : 'ACCOUNT.controls' }}
                </button>

                <h3 translate>{{ blogs.length ? 'ACCOUNT.blogs' : 'ACCOUNT.noblogs'}}</h3>

                <div class="blog-list">
                    <div class="blogs">
                        <div *ngFor="let blog of blogs; let i=index">

                            <!-- Blog -->
                            <div *ngIf="blog.name === name.toLowerCase()" class="blog">

                                <a [routerLink]="['/', blog.name, blog.repo] | localize" class="blog-name">{{ blog.repo | titlecase }}</a>

                                <!-- Blog controls -->
                                <div>
                                    <button
                                        (click)="updateBlog(blog.repo)"
                                        [class.hidden]="!hiddenUpdates"
                                        translate
                                        type="button"
                                        class="btn btn-success">
                                        ACCOUNT.updateBlog
                                    </button>
                                    <button
                                        (click)="updateDraft(blog.repo)"
                                        [class.hidden]="!hiddenUpdates"
                                        translate
                                        type="button"
                                        class="btn btn-success">
                                        ACCOUNT.updateDraft
                                     </button>
                                    <a
                                        *ngIf="hiddenControls && !hiddenUpdates"
                                        [routerLink]="['/', blog.name, blog.repo, 'create'] | localize"
                                        translate
                                        class="btn btn-primary">
                                        ACCOUNT.addPost
                                    </a>
                                    <a
                                        *ngIf="!hiddenUpdates && !hiddenControls"
                                        [routerLink]="['/', blog.name, blog.repo] | localize"
                                        translate
                                        class="btn btn-primary">
                                        ACCOUNT.goToBlog
                                    </a>
                                    <a
                                        *ngIf="user && user.login.toLowerCase() === name.toLowerCase() && !hiddenUpdates && !hiddenControls"
                                        [routerLink]="['/', blog.name, blog.repo, 'drafts'] | localize"
                                        translate
                                        class="btn btn-primary">
                                        ACCOUNT.goToDrafts
                                    </a>
                                    <button
                                        *ngIf="hiddenControls && !hiddenUpdates"
                                        (click)="prepareDelete(blog.name, blog.repo, i)"
                                        translate
                                        type="button"
                                        class="btn btn-danger">
                                        ACCOUNT.remove
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Activate blog -->
                    <form
                        #form="ngForm"
                        novalidate *ngIf="user && user.login.toLowerCase() === name.toLowerCase()"
                        (ngSubmit)="createBlog(user.login, repoEl)"
                        class="form-inline text-center">
                        <input
                            #repoEl
                            [ngModel]="repoEl.value"
                            type="text"
                            name="repoEl"
                            class="form-control"
                            placeholder="{{ 'ACCOUNT.blogName' | translate }}" required>
                        <button [disabled]="form.invalid" translate type="submit" class="btn btn-primary">ACCOUNT.activateBlog</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<popup (answer)="popupHandler($event)" [hidden]="hidden" [text]="popupText"></popup>
<spinner *ngIf="!blogs"></spinner>
