<div #popup *ngIf="!hidden" [@popup]="popup.state" class="modal-dialog popup">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center">Blog platform</h4>
        </div>
        <div class="modal-body">
            <p class="text-center">{{ text | translate }}</p>
        </div>
        <div class="modal-footer text-center">
            <button (click)="remove()" type="button" class="btn btn-danger" translate>POPUP.remove</button>
            <button (click)="cancel()" type="button" class="btn btn-primary" translate>POPUP.cancel</button>
        </div>
    </div>
</div>
