<auth-profile #profile></auth-profile>

<form (submit)="go(profile.login, repoEl)" [hidden]="!profile.logged">
    <!-- <label for="">name
        <input #nameEl type="text">
    </label> -->
    <label for="">repo
        <input #repoEl type="text" required>
    </label>
    <button type="submit">Create Blog</button>
</form>

<hr>
<h3>List of blogs</h3>
<section *ngFor="let blog of blogs">
    <h4>
        <a [routerLink]="['/' + blog.name + '/' + blog.repo]">{{ blog.name }} - {{  blog.repo }}</a>
    </h4>
</section>
