.blog-list {
  padding: 30px 60px;

  h3 {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h4 {
    margin: 1em 0;
  }

  @media (max-width: 767px) {
    padding: 15px;

    h3 {
      font-size: 32px;
    }
  }
}

.blogs {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 45vh;
}

.blog {
  position: relative;
  display: table;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  width: 100%;

  div {
    cursor: pointer;
    display: table-cell;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  button {
    display: table-cell;
    vertical-align: middle;
    border: none;
    background: none;
    padding: 0;
    position: relative;

    i {
      font-size: 2.5em;
    }

    &:focus {
      outline: none;
    }

    &:hover:before {
      visibility: visible;
      opacity: 1;
      left: 0;
    }

    &:before {
      visibility: hidden;
      opacity: 0;
      content: attr(data-tooltip);
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate(-100%, -50%);
      background: #616161;
      white-space: nowrap;
      font-size: 10px;
      line-height: 22px;
      padding: 0 8px;
      border-radius: 2px;
      color: #fff;
      transition: all 0.2s ease;
    }
  }

  &:not(:first-child) {
    margin-top: -1px;
  }

  &-author {
    color: #aaa;
  }

  &-name {
    font-size: 24px;
    font-weight: 600;
    color: #222;
    margin: 0;
  }

  @media (max-width: 767px) {
    &-name {
      font-size: 20px;
    }
  }
}
