.entry-wrap {
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  @media (max-width: 768px) {
    padding: 15px;
  }
}

a {
  cursor: pointer;
}

.go-back {
  margin-top: 1em;
}

.nav {
  margin-bottom: 2em;
}
