.controls {
  position: relative;
  z-index: 100;
}

a.btn, button {
  min-width: 5.8em;
}

a.go-btn {
  min-width: 7.5em;
}

.post {
  position: absolute;
  top: 7em;
  right: 6%;
  width: 13em;
  padding: 1em 1em 0;
  box-shadow: 0 0 5px #000;
  background-color: #eee;
  border-radius: 3px;

  a, button {
    display: block;
    width: 100%;
    max-width: 10em;
    margin-bottom: 1em;
  }

  label:first-child {
    width: 30%;
  }

  label:last-child {
    width: 70%;
  }
}

.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
