<div #controls [@fadeIn]="'in'" class="controls">

    <a
        [routerLink]="[url, 'create'] | localize"
        translate
        [class.hidden]="post"
        class="btn btn-primary go-btn">
        CONTROLS.addPost
    </a>
    <a
        *ngIf="!drafts"
        [routerLink]="[url, 'drafts'] | localize"
        translate
        [class.hidden]="post"
        class="btn btn-primary go-btn">
        CONTROLS.goToDrafts
    </a>
    <a
        *ngIf="drafts"
        [routerLink]="[url] | localize"
        translate
        [class.hidden]="post"
        class="btn btn-primary go-btn">
        CONTROLS.goToBlog
    </a>
    <div *ngIf="post" class="post">
        <div *ngIf="!draft" [class.hidden]="!post" class="[ form-group ]">
            <input
                #check
                (click)="check.checked ?  unLockComments() :lockComments()"
                [checked]="status"
                type="checkbox"
                name="fancy-checkbox-primary"
                id="fancy-checkbox-primary"
                autocomplete="off">
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-primary" class="[ btn btn-primary ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-primary" translate class="[ btn btn-default active ]">
                    CONTROLS.comments
                </label>
            </div>
        </div>
        <button
            *ngIf="draft"
            (click)="publish()"
            translate
            type="button"
            class="btn btn-success">
            CONTROLS.publish
        </button>
        <a
            (click)="getPostStatus()"
            translate
            [class.hidden]="!post"
            class="btn btn-primary">
            CONTROLS.edit
        </a>
        <button
            (click)="hidden = false"
            translate
            [class.hidden]="!post"
            class="btn btn-danger">
            CONTROLS.remove
        </button>
    </div>

</div>
<popup (answer)="popupHandler($event)" [hidden]="hidden" [text]="popupText"></popup>
