<div #controls [@controls]="controls.state" class="controls">

    <a [routerLink]="[create]" [class.hidden]="post" class="btn btn-primary">Add post</a>
    <div class="post">
        <div *ngIf="!draft" [class.hidden]="!post" class="[ form-group ] text-center">
            <input
                #check
                (click)="check.checked ?  unLockComments() :lockComments()"
                [checked]="status"
                type="checkbox"
                name="fancy-checkbox-primary"
                id="fancy-checkbox-primary"
                autocomplete="off">
            <div class="[ btn-group ]">
                <label for="fancy-checkbox-primary" class="[ btn btn-primary ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-primary" class="[ btn btn-default active ]">
                    Comments
                </label>
            </div>
        </div>
        <button *ngIf="draft" (click)="publish()" type="button" class="btn btn-success" >Publish</button>
        <a [routerLink]="['edit']" [class.hidden]="!post" class="btn btn-primary">Edit</a>
        <button (click)="hidden = false" [class.hidden]="!post" class="btn btn-danger">Remove</button>
    </div>

</div>
<popup
    (answer)="popupHandler($event)"
    [hidden]="hidden"
    [popupText]="popupText"
    [confirm]="confirm">
</popup>
