<div class="row">
    <div class="form-group col-lg-8">
        <label>Title:</label>
        <input type="text" name="title" class="form-control" id="title">
    </div>
    <div class="form-group col-lg-8">
        <label>Text:</label>
        <textarea id="text" name="text" mdEditor></textarea>
    </div>
    <div class="form-group col-lg-8">
        <label>Tags:</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group col-lg-8">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
</div>