.entry {
  padding: 1em 2em;
  font-size: 1.25em;
  background-color: #fff;
  word-wrap: break-word;
}

.title {
  margin-bottom: 1.5em;
  font-size: 1.3em;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-control {
  width: 15em;
  max-width: 100%;
  max-height: 2.5em;
  border-radius: 5px;
}

span {
  color: #d53f17;
}

.panel-heading h4 {
  font-size: 90%;
  color: #888;
  cursor: pointer;
}
