.entry {
  min-height: 50vh;
  background-color: #fff;
  padding: 1em 2em;
  font-size: 1.25em;
  word-wrap: break-word;
}
.title {
  font-size: 1.3em;
  margin-bottom: 1.5em;
}
form {
  margin-top: 2em;
  margin-bottom: 2em;
}
.form-control {
  width: 15em;
  max-width: 100%;
  max-height: 2.5em;
  border-radius: 5px;
}
span {
  color: #d53f17;
}
.panel-heading h4 {
  cursor: pointer;
  color: #888;
  font-size: 90%;
}
