<section *ngIf="githubUrl" class="row" [@start]="faq.state">
    <div class="col-md-10 col-md-offset-1">
        <div class="entry">
            <h4 class="title" translate>
                START.title
            </h4>
            <ul>
                <li [innerHTML]="'START.instruction.li1' | translate | safeHtml"></li>
                <li>
                    <a [href]="githubUrl" (click)="savePath()">{{ 'START.instruction.li2.i1' | translate }}</a>
                    {{ 'START.instruction.li2.i2' | translate }}
                </li>
                <li [innerHTML]="'START.instruction.li3' | translate | safeHtml"></li>
            </ul>

            <form #form="ngForm" novalidate (ngSubmit)="createBlog(repoEl)" class="form-inline">
                <input
                    [disabled]="!user"
                    #repoEl
                    [ngModel]="repoEl.value"
                    name="repoEl" type="text"
                    class="form-control"
                    placeholder="{{ 'START.form.blogName' | translate }}" required>
                <button
                    [disabled]="!user || form.invalid"
                     translate
                     class="btn btn-primary"
                     type="submit">
                     START.form.activateBlog
                </button>
                <span *ngIf="!user" translate class="need-auth">START.form.needAuth</span>
            </form>

            <p translate class="alert alert-info">
                START.info
            </p>

            <div class="panel-group" id="accordion1">

                <div class="panel panel-default">
                    <div class="panel-heading" (click)="faq.friends=!faq.friends">
                        <h4 class="panel-title"><a translate data-toggle="collapse" data-parent="#accordion1">
                            START.capabilities.title
                        </a></h4>
                    </div>
                    <div class="panel-collapse collapse" [class.in]="faq.friends">
                        <div translate class="panel-body">
                            START.capabilities.panel
                            <hr>
                            <ul>
                                <li translate>START.capabilities.li1</li>
                                <li translate>START.capabilities.li2</li>
                                <li translate>START.capabilities.li3</li>
                                <li translate>START.capabilities.li4</li>
                                <li>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" (click)="faq.capabilities=!faq.capabilities">
                                            <h4 class="panel-title"><a translate data-toggle="collapse" data-parent="#accordion1" >
                                            START.capabilities.li5.title
                                        </a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" [class.in]="faq.capabilities">
                                            <div translate class="panel-body">
                                                START.capabilities.li5.panel
                                                <hr>
                                                <ul>
                                                    <li translate>START.capabilities.li5.li51</li>
                                                    <li [innerHTML]="'START.capabilities.li5.li52' | translate | safeHtml"></li>
                                                    <li translate>START.capabilities.li5.li53</li>
                                                    <li [innerHTML]="'START.capabilities.li5.li54' | translate | safeHtml"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" (click)="faq.problems=!faq.problems">
                        <h4 class="panel-title"><a translate data-toggle="collapse" data-parent="#accordion1" >
                            START.problems.title
                        </a></h4>
                    </div>

                    <div class="panel-collapse collapse" [class.in]="faq.problems">
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading" (click)="faq.github=!faq.github">
                                    <h4 class="panel-title"><a translate data-toggle="collapse" data-parent="#accordion1" >
                                        START.problems.updateBlog.title
                                    </a></h4>
                                </div>

                                <div class="panel-collapse collapse" [class.in]="faq.github">
                                    <div class="panel-body">
                                        <span [innerHTML]="'START.problems.updateBlog.panel'| translate | safeHtml"></span>
                                        <hr>
                                        <ul>
                                            <li>{{ 'START.problems.updateBlog.li1.title' | translate }}
                                                <ul>
                                                    <li [innerHTML]="'START.problems.updateBlog.li1.li11' | translate | safeHtml"></li>
                                                    <li [innerHTML]="'START.problems.updateBlog.li1.li12' | translate | safeHtml"></li>
                                                    <li [innerHTML]="'START.problems.updateBlog.li1.li13' | translate | safeHtml"></li>
                                                    <li [innerHTML]="'START.problems.updateBlog.li1.li14' | translate | safeHtml"></li>
                                                    <li [innerHTML]="'START.problems.updateBlog.li1.li15' | translate | safeHtml"></li>
                                                    <li [innerHTML]="'START.problems.updateBlog.li1.li16' | translate | safeHtml"></li>
                                                </ul>

                                            </li>
                                            <li [innerHTML]="'START.problems.updateBlog.li2' | translate | safeHtml"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" (click)="faq.comments=!faq.comments">
                                    <h4 class="panel-title"><a translate data-toggle="collapse" data-parent="#accordion1" >
                                        START.problems.comments.title
                                    </a></h4>
                                </div>
                                <div class="panel-collapse collapse" [class.in]="faq.comments">
                                    <div [innerHTML]="'START.problems.comments.panel' | translate | safeHtml" class="panel-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
