<div *ngIf="user && !canEdit" class="col-md-8 col-md-offset-2">
    <div class="paper text-center">
        <h3 translate>POSTS.private</h3>
    </div>
</div>

<div class="row" *ngIf="user && canEdit">
    <div class="col-md-8">
        <div *ngIf="empty" class="no-posts">
            <h3 translate>POSTS.noPosts</h3>
        </div>
        <posts-template
            *ngIf="posts"
            [posts]="posts"
            [drafts]="true"
            [name]="name"
            [repo]="repo"
            [url]="url"
            [canEdit]="canEdit">
        </posts-template>
        <pagination
            *ngIf="total"
            [url]="url"
            [currentPage]="id"
            [total]="total"
            [perPage]="perPage"
            (pageChange)="handlePageChange($event)">
        </pagination>
    </div>
    <div class="col-md-4">
        <!-- <div *ngIf="posts" class="widget">
            <search></search>
        </div> -->
        <div class="widget" *ngIf="user && canEdit && posts || user && canEdit && empty">
            <h4 translate>POSTS.actions</h4>
            <controls [drafts]="true"></controls>
        </div>
    </div>
</div>

<spinner *ngIf="!posts && !empty"></spinner>
