.widget {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  margin-bottom: 30px;
  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.widget {
  padding: 20px;
}

.widget h4 {
  margin: 0 0 15px;
}

.no-posts {
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 2.4em;
  background-color: #fff;
  text-align: center;

  @media (max-width: 768px) {
    margin: 0 1.2em 1em;
  }
}
