<!-- <div [class.hidden]="hidden" class="popup" [innerHTML]="popupText"></div> -->
<!-- Modal -->
<!-- <div id="myModal" class="modal" role="dialog" [class.hidden]="!hidden" > -->
  <div class="modal-dialog absolute"  [class.hidden]="hidden">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p [innerHTML]="popupText">Some text in the modal.</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
<!-- </div> -->
