<div class="comments-wrap">
    <h3>Comments ({{ comments.length }})</h3>

    <ul class="comments-list" *ngIf="comments && comments.length">
        <li class="comment" *ngFor="let comment of comments">
            <a class="pull-left" [href]="url + comment.user" [@comment]="comment.state" target="_blank">
                <img class="avatar" [src]="comment.avatar_url" alt="avatar">
            </a>
            <div class="comment-body" [@comment]="comment.state">
                <div class="comment-heading">
                    <h4 class="user">{{ comment.user }}</h4>
                    <h5 class="time">{{ comment.created_at | date:'y-MM-dd HH:mm' }}</h5>

                    <span
                        *ngIf="login && comment.user === login || login && name === login.toLowerCase()"
                        (click)="remove(comment)"
                        class="glyphicon glyphicon-trash delete"
                    ></span>

                    <span
                        *ngIf="login && comment.user === login"
                        (click)="edit(comment)"
                        class="glyphicon glyphicon-pencil delete"
                    ></span>

                </div>

                <p [innerHTML]="comment.body | markdown | safeHtml"></p>

                <comment-from
                *ngIf="comment.id == commentId"
                (updatedComment)="editCommentHandler($event, comment)"
                [hidden]="!onEdit"
                [onEdit]="comment.body"
                [commentId]="comment.id"></comment-from>

            </div>
        </li>
    </ul>

    <p *ngIf="!comments.length">No comments. You will be first.</p>
    <p *ngIf="!logged">You must be logged in to post a comment.</p>

    <comment-from (addComment)="addCommentHandler($event)" [postId]="postId"></comment-from>
</div>
