<div class="row" [hidden]="!authService.isLogged">
    <div class="col-md-8">
        <form class="add-comment" (ngSubmit)="submit(textarea)">
            <div class="form-group" [class.has-error]="error">
                <md-editor #textarea></md-editor>
                <span *ngIf="error" class="help-block">Something went wrong! Try again or contact with administrator.</span>
            </div>
            <div class="form-group">
                <button [disabled]="!textarea.value || loading" class="btn btn-primary" type="submit">
                    Add comment
                    <span *ngIf="loading" class="glyphicon glyphicon-refresh loading"></span>
                </button>
            </div>
        </form>
    </div>
</div>