<div #form class="row" [hidden]="!authService.isLogged" [@form]="form.state">
    <div class="col-md-8">
        <form class="add-comment" (ngSubmit)="submit(textarea)">
            <div class="form-group" [class.has-error]="error">
                <md-editor #textarea [placeholder]="' '" [value]="onEdit"></md-editor>
                <span *ngIf="error" class="help-block">{{ error }}</span>
            </div>
            <div class="form-group">
                <button [disabled]="!textarea.value || loading" translate class="btn btn-primary" type="submit">
                    {{ onEdit ? 'COMMENTSFORM.update' : 'COMMENTSFORM.addComment' }}
                    <span *ngIf="loading" class="glyphicon glyphicon-refresh loading"></span>
                </button>
                <!-- <button *ngIf="onEdit" [disabled]="loading" class="btn btn-primary" type="button" (click)="hidden = !hidden">
                    Cancel
                </button> -->
            </div>
        </form>
    </div>
</div>
