<div class="post-footer">
    <h3>Comments ({{ comments.length }})</h3>

    <ul class="comments-list" *ngIf="comments.length">
        <li class="comment" *ngFor="let comment of comments">
            <a class="pull-left" href="#">
                <img class="avatar" [src]="comment.avatar_url" alt="avatar">
            </a>
            <div class="comment-body">
                <div class="comment-heading">
                    <h4 class="user">{{ comment.user }}</h4>
                    <h5 class="time">{{ comment.created_at | date:'y-MM-dd HH:mm' }}</h5>
                    <span (click)="remove(comment)" class="glyphicon glyphicon-trash delete"></span>
                </div>
                <p [innerHTML]="comment.body | markdown | safeHtml"></p>
            </div>
        </li>
    </ul>

    <p *ngIf="!comments.length">No comments. You will be first.</p>

    <comment-from (addComment)="addCommentHandler($event)" [postId]="postId"></comment-from>
</div>
