.post-footer {
  margin: 30px 0;
  border-top: 1px solid #ddd;
  padding: 15px;
}

.post-footer h3 {
  margin-top: 10px;
}

.post-footer p {
  margin-bottom: 20px;
}

.comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.avatar {
  width: 35px;
  height: 35px;
}

.comment-heading {
  display: block;
  width: 100%;
}

.user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}

.time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}

.comment-body {
  margin-left: 50px;
}

.comment > .comments-list {
  margin-left: 50px;
}

.delete {
  margin-left: 5px;
  cursor: pointer;
  color: #777;
  opacity: 0.5;
}

.delete:hover {
  opacity: 1;
}