<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="paper">
            <div class="text-center">
                <h2>New comments</h2>
                <h4 *ngIf="comments.length === 0">No new comments</h4>
            </div>
            <div *ngIf="comments.length > 0">
                <table class="table">
                    <tr>
                        <th>№</th>
                        <th>Post</th>
                        <th>Text</th>
                        <th>
                            <input type="checkbox" name="all" [checked]="isAllSelected()" (change)="selectAll($event)">
                        </th>
                    </tr>
                    <tr *ngFor="let comment of comments; let i = index;">
                        <td>{{ i + 1 }}</td>
                        <td><a [routerLink]="[url, 'post', comment.post_id]">{{ comment.title }}</a></td>
                        <td>{{ comment.body }}</td>
                        <td width="28px">
                            <input type="checkbox" name="selected[]" [(ngModel)]="comment.selected">
                        </td>
                    </tr>
                </table>
                <div class="text-right">
                    <button [disabled]="isFetching" type="button" class="btn btn-danger" (click)="remove()">Remove</button>
                    <button [disabled]="isFetching" type="button" class="btn btn-primary" (click)="approve()">Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>
