<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1>
                        <a [routerLink]="['/', 'welcome'] | localize">{{ title }}</a>
                    </h1>
                    <a (click)="changeLang('en')">EN</a>
                    <a (click)="changeLang('ru')">Рус</a>
                    <a (click)="changeLang('uk')">Укр</a>
                </div>
                <div class="col-md-4">
                    <div *ngIf="repo" class="blog-info">
                        <a [routerLink]="['/', name, repo] | localize" class="blog-name">{{ repo | titlecase }} <span>{{ drafts ? '(drafts)' : ''}}</span></a><br>
                        by <a [routerLink]="['/', name] | localize" class="blog-author">{{ name }}</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <a *ngIf="authService.isLogged" [routerLink]="['/about'] | localize" class="about" title="About">?</a>
                    <a *ngIf="!authService.isLogged" href="" [routerLink]="['/start'] | localize" class="btn btn-primary pull-right create">{{ 'APP.getStarted' | translate }}</a>
                    <div class="account pull-right" *ngIf="authService.isLogged">
                        <auth-profile #profile></auth-profile>
                    </div>
                    <a *ngIf="!authService.isLogged" [href]="githubUrl" class="btn btn-default pull-right" (click)="savePath()">{{ 'APP.login' | translate }}</a>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2017 Blog platform. Made by super team.</p>
            </div>
        </div>
    </div>
</footer>
