<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1>
                        <a [routerLink]="['/', 'welcome'] | localize">{{ title }}</a><br>
                    </h1>
                </div>
                <div class="col-md-4">
                    <div *ngIf="repo" class="blog-info">
                        <a
                            [routerLink]="['/', name, repo] | localize"
                            class="blog-name">
                            {{ repo | titlecase }} {{ drafts ? draftsTitle : ''}}
                        </a><br>
                        {{ 'APP.by' | translate }} <a [routerLink]="['/', name] | localize" class="blog-author">{{ name }}</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <a
                        *ngIf="!authService.isLogged"
                        [routerLink]="['/start'] | localize"
                        translate
                        class="btn btn-primary pull-right create">
                        APP.getStarted
                    </a>
                    <div class="account pull-right" *ngIf="authService.isLogged">
                        <auth-profile #profile></auth-profile>
                    </div>
                    <a
                        *ngIf="!authService.isLogged"
                        [href]="githubUrl"
                        translate
                        (click)="savePath()"
                        class="btn btn-default pull-right">
                        APP.login
                    </a>
                    <div class="langs-control">
                        <span (click)="toggleLangs()" translate class="langs-controls">APP.languages</span>
                        <span class="caret"></span>
                        <div [class.hidden]="!langs" class="langs">
                            <a
                                (click)="changeLang('en'); toggleLangs()"
                                [class.active]="activeLang === 'en'"
                                class="flag-icon flag-icon-gb">
                            </a>
                            <a
                                (click)="changeLang('ru'); toggleLangs()"
                                [class.active]="activeLang === 'ru'"
                                class="flag-icon flag-icon-ru">
                            </a>
                            <a
                                (click)="changeLang('uk'); toggleLangs()"
                                [class.active]="activeLang === 'uk'"
                                class="flag-icon flag-icon-ua">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2017 Blog platform. {{ 'APP.madeBy' | translate }}.</p>
            </div>
        </div>
    </div>
</footer>

<div lockPage class="lock-page"></div>
