.wrapper {
  min-height: 100%;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  padding-bottom: 64px;
}

.header {
  position: relative;
  width: 110%;
  left: -5%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  padding: 15px 25px;
}

.header h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 3px 0 0;
}

.header h1 a {
  color: #222;
}

.create {
  margin-left: 10px;
}

.main {
  padding: 40px 0;
}

.footer {
  color: #fff;
  padding: 20px 0;
  height: 64px;
  margin-top: -64px;
  border-top: 1px solid #ddd;
}

.footer p {
  margin: 0;
  color: #888;
  font-size: 14px;
  text-align: center;
}
