<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>
                        <a [routerLink]="['/', 'welcome'] | localize">{{ title }}</a>
                    </h1>
                </div>
                <div class="col-md-4 text-center">
                    <div *ngIf="repo" class="blog-info text-left">
                        <a
                            [routerLink]="['/', name, repo] | localize"
                            class="blog-name">
                            {{ repo | titlecase }} {{ subTitle ? subTitleText : ''}}
                        </a><br>
                        {{ 'APP.by' | translate }} <a [routerLink]="['/', name] | localize" class="blog-author">{{ name }}</a>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="account pull-right" *ngIf="isLogged">
                        <auth-profile #profile></auth-profile>
                    </div>
                    <div class="header-buttons pull-right">
                        <a
                            *ngIf="!isLogged"
                            [href]="githubUrl"
                            translate
                            (click)="savePath()"
                            class="btn btn-default">
                            APP.login
                        </a>
                        <a
                            #start
                            *ngIf="!isLogged"
                            [routerLink]="['/start'] | localize"
                            (click)="start.blur()"
                            translate
                            class="btn btn-primary create">
                            APP.getStarted
                        </a>
                    </div>
                    <div class="langs-control pull-left">
                        <div (click)="toggleLangs()">
                            <span translate class="langs-controls">APP.languages</span>
                            <span class="caret"></span>
                        </div>
                        <div [class.hidden]="!langs" class="langs">
                            <a
                                (click)="changeLang('en'); toggleLangs()"
                                [class.active]="activeLang === 'en'"
                                class="flag-icon flag-icon-gb">
                            </a>
                            <a
                                (click)="changeLang('ru'); toggleLangs()"
                                [class.active]="activeLang === 'ru'"
                                class="flag-icon flag-icon-ru">
                            </a>
                            <a
                                (click)="changeLang('uk'); toggleLangs()"
                                [class.active]="activeLang === 'uk'"
                                class="flag-icon flag-icon-ua">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2017 Blog platform. {{ 'APP.madeBy' | translate }}.</p>
            </div>
        </div>
    </div>
</footer>

<div lockPage class="lock-page"></div>
