.wrapper {
  min-height: 100%;
  padding-bottom: 64px;
  margin-right: calc(-1 * (100vw - 100%));
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
  padding: 15px 25px;

  a {
    cursor: pointer;
  }

  h1 {
    font-size: 24px;
    margin: 0;

    a {
      color: #222;
      line-height: 45px;
    }
  }

  &-buttons {
    margin-top: 5px;
  }
}

.blog-info {
  line-height: 1;
  display: inline-block;
  font-size: 10px;
}

.blog-info a {
  color: #444;
}

.blog-name {
  font-size: 2.8em;
}

.blog-author {
  font-size: 1.5em;
}

.create {
  margin-left: 10px;
}

.account {
  margin-top: 6px;
}

.langs-control {
  position: relative;
  margin-top: 14px;
  cursor: pointer;

  .langs {
    position: absolute;
    top: 1.2em;
    right: 0;
    padding: .25em;
    background-color: #eeeded;
    box-shadow: 0 0 5px #000;
    font-size: 2em;
    user-select: none;
    z-index: 200;
    white-space: nowrap;

    @media (max-width: 991px) {
      left: 0;
      right: initial;
    }

    a {
      margin-right: .25em;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        box-shadow: 0 0 5px #0071d9;
      }
    }
  }
}

.main {
  padding: 40px 0;
}

.footer {
  color: #fff;
  padding: 20px 0;
  height: 64px;
  margin-top: -64px;
  border-top: 1px solid #ddd;

  p {
    margin: 0;
    color: #888;
    font-size: 14px;
    text-align: center;
  }
}

.about {
  float: right;
  margin-left: 2rem;
  font-size: 2rem;
}

.lock-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #aaa;
  opacity: .2;
  z-index: 1000;
}

@media (max-width: 767px) {
  .header {
    padding: 10px;

    h1 {
      text-align: center;
    }
  }

  .main {
    padding-top: 15px;
  }
}
