$primary: #039be5;
$text-color: #222;

.pagination-wrap {
  margin-bottom: 10px;
  padding: 20px;
  background: #fff;
  text-align: center;
}

.pagination {
  margin: 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}

.pagination > li > a,
.pagination > li > span {
  color: $text-color;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  color: #fff;
  background: $primary;
  border-color: $primary;
}
