<div class="row" *ngIf="post" [@edit]="post.state">
    <div class="col-md-8 col-md-offset-2">
        <div class="entry">
            <h2 class="text-center">Edit post</h2>
            <div><b>Author:</b> {{ post.author }}</div>
            <div><b>Date:</b> {{ post.date }}</div>
            <form #form="ngForm" novalidate (ngSubmit)="check.checked ? moveToDrafts(title, tags, preview, text) : save(title, tags, preview, text)">
                <div class="form-group">
                    <label>Title:</label>
                    <input #title [ngModel]="post.title" class="form-control" type="text" name="title" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <label>Tags:</label>
                    <input #tags [ngModel]="post.tags" class="form-control" type="text" name="tags" placeholder="Tags" required>
                </div>
                <div class="form-group">
                    <label>Preview:</label>
                    <md-editor #preview [value]="post.preview"></md-editor>
                </div>
                <div class="form-group">
                    <label>Text:</label>
                    <md-editor #text [value]="post.text_full_strings.trim()"></md-editor>
                </div>
                <div class="form-group">
                    <button [disabled]="!text.value || !preview.value || form.invalid" type="submit" class="btn btn-primary">Update</button>
                    <button type="button" (click)="cancel(title, tags, text, preview)" class="btn">Cancel</button>
                    <button type="button" (click)="goBack()" class="btn">Back</button>

                    <div class="[ form-group ] text-center publish">
                        <input #check type="checkbox" name="fancy-checkbox-primary" id="fancy-checkbox-primary" autocomplete="off">
                        <div *ngIf="!draft" class="[ btn-group ]">
                            <label for="fancy-checkbox-primary" class="[ btn btn-primary ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="fancy-checkbox-primary" class="[ btn btn-default active ]">
                                Move to drafts
                            </label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<spinner *ngIf="!post"></spinner>
