<div *ngIf="authService.isLogged && profile" class="profile-wrap" (click)="getPath()">
    <div class="dropdown">
        <div class="dropdown-toggle" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img class="profile-avatar" [src]="profile.avatar_url" alt="">
            <span>{{ profile.name || profile.login }}</span>
            <span class="caret"></span>
        </div>
        <ul class="dropdown-menu pull-right" aria-labelledby="profile-menu">
            <li><a [routerLink]="[profile.login]">Account</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</div>
