.entry {
  h1 {
    margin: 0 0 15px;
  }

  header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }

  &-meta {
    margin: 0 0 15px;
  }

  &-controls {
    cursor: pointer;
  }

  &-footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 30px;
  }
}

.post-controls {
  float: right;
  padding: 1rem;
  font-size: 3em;
  cursor: pointer;
  z-index: 100;
}
