<div class="row" *ngIf="post && !onEdit" [@fadeIn]="post.state">
    <div class="col-md-8 col-md-offset-2">
        <div class="entry">
            <h2 class="text-center" translate>EDITPOST.editPost</h2>
            <div><b translate>EDITPOST.author </b>{{ post.author }}</div>
            <div><b translate>EDITPOST.date </b> {{ post.date }}</div>
            <form
                #form="ngForm"
                novalidate
                (ngSubmit)="check.checked ? moveToDrafts(title, tags, preview, text) : save(title, tags, preview, text)">
                <div class="form-group">
                    <!-- <label translate>EDITPOST.title</label> -->
                    <input
                        #title
                        [ngModel]="post.title"
                        class="form-control"
                        type="text"
                        name="title"
                        placeholder="{{ 'EDITPOST.title' | translate }}"
                        required>
                </div>
                <div class="form-group">
                    <!-- <label translate>EDITPOST.tags</label> -->
                    <input
                        #tags
                        [ngModel]="post.tags"
                        class="form-control"
                        type="text"
                        name="tags"
                        placeholder="{{ 'EDITPOST.tags' | translate }}"
                        required>
                </div>
                <div class="form-group">
                    <!-- <label translate>EDITPOST.preview</label> -->
                    <md-editor #preview [placeholder]="'EDITPOST.preview'" [value]="post.preview"></md-editor>
                </div>
                <div class="form-group">
                    <!-- <label translate>EDITPOST.text</label> -->
                    <md-editor #text [placeholder]="'EDITPOST.text'" [value]="post.text_full_strings.trim()"></md-editor>
                </div>
                <div class="form-group">
                    <button
                        [disabled]="!text.value || !preview.value || form.invalid"
                        translate
                        type="submit"
                        class="btn btn-primary">
                        EDITPOST.update
                    </button>
                    <button
                        type="button"
                        (click)="cancel(title, tags, text, preview)"
                        translate
                        class="btn">
                        EDITPOST.cancel
                    </button>
                    <button type="button" (click)="goBack()" translate class="btn">EDITPOST.back</button>

                    <div class="[ form-group ] text-center publish">
                        <input #check type="checkbox" name="fancy-checkbox-primary" id="fancy-checkbox-primary" autocomplete="off">
                        <div *ngIf="!draft" class="[ btn-group ]">
                            <label for="fancy-checkbox-primary" class="[ btn btn-primary ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label translate for="fancy-checkbox-primary" class="[ btn btn-default active ]">
                                EDITPOST.moveToDrafts
                            </label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<spinner *ngIf="!post"></spinner>
