<div class="row">
    <div class="col-md-8">
        <h3 *ngIf="page.empty">No posts</h3>
        <article class="entry" *ngFor="let post of page.pagedItems" [@posts]="post.state">
            <header>
                <div class="entry-date icons">
                    <i class="material-icons">access_time</i>
                    <span>{{ post.date | date:'yMMMd' }}</span>
                </div>
                <h2 class="entry-title">
                    <a [routerLink]="[url, 'post', post.id]" (click)="savePage()">
                        {{ post.title }}
                    </a>
                </h2>
            </header>
            <div class="entry-summary">
                <p [innerHTML]="post.preview | markdown | safeHtml"></p>
            </div>
            <footer class="entry-footer">
                <ul class="entry-meta pull-left">
                    <li class="entry-author icons">
                        <i class="material-icons">person</i>
                        <span>{{ post.author || 'user' }}</span>
                    </li>
                    <li class="entry-tags icons">
                        <i class="material-icons">local_offer</i>
                        <span>{{ post.tags }}</span>
                    </li>
                </ul>
                <div class="entry-comment icons pull-right">
                    <i class="material-icons">chat_bubble_outline</i>
                    <span>Comments (0)</span>
                </div>
            </footer>
        </article>
        <pagination #page></pagination>
    </div>
    <div class="col-md-4">
        <div *ngIf="page.pagedItems" class="widget">
            <search></search>
        </div>
        <div class="widget" *ngIf="user && canEdit">
            <h4>Actions</h4>
            <controls></controls>
        </div>
    </div>
</div>
