<div class="row">
    <div class="col-md-8">
        <article class="entry" [@posts]="post.state" *ngFor="let post of page.pagedItems">
            <header>
                <div class="entry-date icons">
                    <i class="material-icons">access_time</i>
                    <span>{{ post.date | date:'yMMMd' }}</span>
                </div>
                <h2 class="entry-title">
                    <a [routerLink]="[url, 'post', post.id]" (click)="savePage()">
                        {{ post.title }}
                    </a>
                </h2>
            </header>
            <!--<div class="entry-summary">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, animi asperiores consequuntur cum-->
                    <!--ipsa ipsam modi necessitatibus perspiciatis quis quisquam recusandae repudiandae, rerum. Aliquid-->
                    <!--atque fuga nostrum quas vel. Unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad-->
                    <!--deleniti dolorem facere illum in iste, odit officiis qui quis repellat similique vitae. Consequuntur-->
                    <!--earum est inventore nostrum quisquam voluptas!</p>-->
            <!--</div>-->
            <footer class="entry-footer">
                <ul class="entry-meta pull-left">
                    <li class="entry-author icons">
                        <i class="material-icons">person</i>
                        <span>{{ post.author || 'user' }}</span>
                    </li>
                    <li class="entry-tags icons">
                        <i class="material-icons">local_offer</i>
                        <span>{{ post.tags }}</span>
                    </li>
                </ul>
                <div class="entry-comment icons pull-right">
                    <i class="material-icons">chat_bubble_outline</i>
                    <span>Comments (0)</span>
                </div>
            </footer>
        </article>
        <pagination #page></pagination>
    </div>
    <div class="col-md-4">
        <div class="widget" *ngIf="authService.isLogged">
            <h4>Actions</h4>
            <!--<auth-profile #profile></auth-profile>-->
            <!--<controls *ngIf="profile.canEdit" [owner]="profile.login"></controls>-->
            <a class="btn btn-primary" [routerLink]="[url, 'create']">Add post</a>
            <button *ngIf="owner && owner.toLowerCase() === name"  class="btn btn-danger" (click)="deleteBlog()">Remove blog</button>
        </div>
        <div class="widget">
            <search></search>
        </div>
    </div>
</div>
<popup [hidden]="hidden" [popupText]="popupText"></popup>