.search-result {
  position: relative;
  left: 7.3em;
  width: 17em;
  height: 2.5em;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #607D8B;
    color: #eee;
  }
}

.search-component {
  position: relative;
  z-index: 100;
  height: 5em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #eee;
  color: #607D8B;
}

input {
  display: inline-block;
  width: 18.4em;
  height: 2.2em;
  padding-left: 0.5em;
  border-radius: 3px;
  border: none;
  font-size: 1.1em;
}

h4 {
  display: inline-block;
  margin-bottom: .5em;
  margin-right: .5em;
}
