.entry,
.widget {
  position: relative;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.entry {

  &-date {
    color: #888;
    margin-bottom: 15px;

    span {
      text-transform: uppercase;
    }
  }

  &-title {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 15px;
    font-weight: 700;

    a {
      color: #555;

      &:hover {
        color: #888;
      }
    }
  }

  &-comment, &-meta {
    margin: 15px 0 0;
  }

  &-summary p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  &-footer {
    border-top: 1px solid #eeeeee;
    margin-top: 30px;
    overflow: hidden;
  }
}

.widget {
  padding: 20px;
}

.widget h4 {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 20px;
}

.found-tag {
  margin: 0 0 20px;
}
