<section *ngIf="post">
    <h2>{{ post.title }}</h2>
    <img src="https://angular.io/resources/images/logos/angular2/angular.svg" alt="" width="200">

    <div [innerHTML]="post.text"></div>
    <button type="button" (click)="goBack()">Back</button>
    <!-- <button type="button" (click)="edit(post.body)">{{ hidden ? 'Edit' : 'Cancel' }}</button> -->
    <!-- <input #title [class.hidden]="hidden" type="text" [value]="post.title"> -->
    <!-- <textarea #text [class.hidden]="hidden" cols="100" rows="10" [value]="post.text"></textarea> -->
    <button [class.hidden]="hidden" type="button" (click)="save(text.value, title.value)">Save</button>
</section>
