<div [@comments]="comments.state" class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="paper">
            <div class="text-center">
                <h2 *ngIf="comments?.length" translate>NEWCOMMENTS.newComments</h2>
                <h4 *ngIf="empty" translate>NEWCOMMENTS.noNew</h4>
            </div>
            <div *ngIf="comments?.length" [@comments]="comments.state">
                <table class="table">
                    <tr>
                        <th>№</th>
                        <th translate>NEWCOMMENTS.post</th>
                        <th translate>NEWCOMMENTS.text</th>
                        <th>
                            <input type="checkbox" name="all" [checked]="isAllSelected()" (change)="selectAll($event)">
                        </th>
                    </tr>
                    <tr *ngFor="let comment of comments; let i = index;">
                        <td>{{ i + 1 }}</td>
                        <td><a [routerLink]="[url, 'post', comment.post_id] | localize">{{ comment.title }}</a></td>
                        <td>{{ comment.body }}</td>
                        <td width="28px">
                            <input type="checkbox" name="selected[]" [(ngModel)]="comment.selected">
                        </td>
                    </tr>
                </table>
                <div class="text-right">
                    <button [disabled]="isFetching" translate type="button" class="btn btn-danger" (click)="remove()">NEWCOMMENTS.remove</button>
                    <button [disabled]="isFetching" translate type="button" class="btn btn-primary" (click)="approve()">NEWCOMMENTS.approve</button>
                </div>
            </div>
        </div>
    </div>
</div>
