<div class="row" [@fadeIn]="'in'">
    <div class="col-md-8 col-md-offset-2">
        <div class="entry paper">
            <h2 class="text-center" translate>CREATEPOST.createPost</h2>
            <div><b translate>CREATEPOST.author </b> {{ author }}</div>
            <div><b translate>CREATEPOST.date </b> {{ datetime }}</div>
            <form
                #form="ngForm"
                novalidate
                (ngSubmit)="check.checked ? publish(filename, title, tags, preview, text) : save(filename, title, tags, preview, text)">
                <div class="form-group">
                    <!-- <label for="filename" translate>CREATEPOST.filename</label> -->
                    <input
                        #filename
                        [ngModel]="filename.value"
                        name="filename"
                        class="form-control"
                        type="text"
                        id="filename"
                        placeholder="{{ 'CREATEPOST.filename' | translate}}"
                        (change)="repalceSpace(filename)"
                        required>
                </div>
                <div class="form-group">
                    <!-- <label for="title" translate>CREATEPOST.title</label> -->
                    <input
                        #title
                        [ngModel]="title.value"
                        name="title"
                        class="form-control"
                        type="text"
                        id="title"
                        placeholder="{{ 'CREATEPOST.title' | translate }}"
                        required>
                </div>
                <div class="form-group">
                    <!-- <label for="tags" translate>CREATEPOST.tags</label> -->
                    <input
                        #tags
                        [ngModel]="tags.value"
                        name="tags"
                        class="form-control"
                        type="text"
                        id="tags"
                        placeholder="{{ 'CREATEPOST.tags' | translate }}"
                        required>
                </div>
                <div class="form-group">
                    <!-- <label translate>CREATEPOST.preview</label> -->
                    <md-editor #preview [placeholder]="'CREATEPOST.preview'"></md-editor>
                </div>
                <div class="form-group">
                    <!-- <label translate>CREATEPOST.text</label> -->
                    <md-editor #text [placeholder]="'CREATEPOST.text'"></md-editor>
                </div>

                <div class="form-group">
                    <button
                        [disabled]="!text.value || !preview.value || form.invalid"
                        translate type="submit"
                        class="btn btn-primary">
                        CREATEPOST.create
                    </button>
                    <button type="button" class="btn" (click)="goBack()" translate>CREATEPOST.back</button>

                    <div class="[ form-group ] text-center publish">
                        <input #check type="checkbox" name="fancy-checkbox-primary" id="fancy-checkbox-primary" autocomplete="off" checked>
                        <div class="[ btn-group ]">
                            <label for="fancy-checkbox-primary" class="[ btn btn-primary ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="fancy-checkbox-primary" class="[ btn btn-default active ]" translate>
                                CREATEPOST.publish
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<spinner *ngIf="!preview"></spinner>
