<div class="comments-wrap">
    <h3>{{ 'COMMENTS.comments' | translate }} ({{ comments.length }})</h3>

    <ul class="comments-list" *ngIf="comments && comments.length">
        <li class="comment" *ngFor="let comment of comments" [@fadeIn]="'in'">
            <a class="pull-left" [href]="url + comment.user" target="_blank">
                <img class="avatar" [src]="comment.avatar_url" alt="avatar">
            </a>
            <div class="comment-body">
                <div class="comment-heading">
                    <h4 class="user">{{ comment.user }}</h4>
                    <h5 class="time">{{ comment.created_at | amTimeAgo }}</h5>

                    <span
                        *ngIf="user && comment.user === user.login || user && name === user.login.toLowerCase()"
                        (click)="remove(comment)"
                        class="svg-icon svg-icon-delete">
                    </span>

                    <span
                        *ngIf="user && comment.user === user.login"
                        (click)="edit(comment)"
                        class="svg-icon svg-icon-pencil">
                    </span>

                </div>

                <p [innerHTML]="comment.body | markdown | safeHtml"></p>

                <comment-from
                    *ngIf="comment.id == commentId"
                    (updatedComment)="editCommentHandler($event, comment)"
                    [hidden]="!onEdit"
                    [onEdit]="comment.body"
                    [commentId]="comment.id">
                </comment-from>
            </div>
        </li>
    </ul>

    <p *ngIf="!comments.length" translate>COMMENTS.noComments</p>
    <p *ngIf="!user" translate>COMMENTS.youMust</p>

    <comment-from (addComment)="addCommentHandler($event)" [postId]="postId"></comment-from>
</div>
